body {
    padding-top: 70px;
}

.call-tree {
    overflow: auto;
}

div.node-row, div.node-row div {
    display: inline-block;
}

div.node-row .node-duration-wrapper .duration-box {
    background-color: red;
    border: 1px solid black;
    height: 15px;
    vertical-align: middle;
}

div.node-row .node-description {

}

div.node-row .node-duration-wrapper .duration-box div {
    height: 13px;
    vertical-align: top;
}

div.node-row.node-row-SQL .node-duration-wrapper .duration-box {
    background-color: blue;
}

div.node-row.node-row-SQL {
    background-color: #d2d1d2;
}

div.node-row .node-duration-wrapper .duration-box .duration-box-children {
    background-color: #1d7319;
}